.country_name {
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: black;
  }

  .country_info {
    margin-top: 40px;
  }

  .invisible {
    height: 0px;
  }

  .filter_red {
    transition: filter 0.0001s ease-in 0.7s;
    filter: hue-rotate(235deg) saturate(350%) brightness(90%);
  }

  .filter_green {
    transition: filter 0.0001s ease-in 0.7s;
    filter: hue-rotate(320deg) saturate(2050%) brightness(60%);
  }