body {
  background-color: rgb(179, 219, 219);
  /* margin: 0px 0px 0px 40px; */
  margin: 0;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.europe {
  position: relative;
}

.big-heading {
  color: rgb(5, 154, 62);
  margin-bottom: 60px;
}

.country-name {
  height: 50px;
  margin-bottom: 40px;
  color: rgb(5, 154, 62);
  font-size: 40px;
}

.invisible {
  height: 0;
}

.filter-red {
  filter: invert(20%) sepia(87%) saturate(2770%) hue-rotate(320deg) brightness(94%) contrast(123%);
}

.country-info {
  height: 280px;
}

.right-side {
  justify-self: center;
}

.score-section {
  font-size: 40px;
}

.score-board {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  gap: 60px;
}

.score-board > div {
  text-align: center;
}

.win {
  background-color: blue;
}

.lose {
  background-color: red;
}

@media only screen and (max-width: 600px) {
  .container {
    display: block;
  }
}
