body {
  background-color: rgb(42, 93, 186);

  /* margin: 0px 0px 0px 40px; */
  margin: 0;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.europe {
  position: relative;
}

.big-heading {
  color: rgb(5, 154, 62);
  margin-bottom: 60px;
}

.country-name {
  height: 50px;
  margin-bottom: 40px;
  color: rgb(5, 154, 62);
  font-size: 40px;
}

.invisible {
  height: 0;
}

.filter-red {
  transition: filter 0.0001s ease-in 0.7s;
  filter: brightness(0) saturate(100%) invert(24%) sepia(90%) saturate(6957%) hue-rotate(356deg) brightness(95%) contrast(105%);
}

.filter-green {
  transition: filter 0.0001s ease-in 0.7s;
  filter: brightness(0) saturate(100%) invert(64%) sepia(27%) saturate(7088%) hue-rotate(78deg) brightness(93%) contrast(106%)
}

.country-info {
  height: 280px;
}

.right-side {
  justify-self: center;
}

.score-section {
  font-size: 40px;
}

.score-board {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  gap: 60px;
}

.score-board > div {
  text-align: center;
}

.win {
  background-color: #11be07;
}

.lose {
  background-color: #F70707;
}

@media only screen and (max-width: 600px) {
  .container {
    display: block;
  }
}
