body {
  background-color: rgb(42, 93, 186);

  /* margin: 0px 0px 0px 40px; */
  margin: 0;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.map {
  position: relative;
}

.big-heading {
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-family: fantasy; */
  font-family: 'Fredericka the Great', cursive;
  font-size: 60px;
  margin-bottom: 60px;
}

.country-name {
  height: 50px;
  margin-bottom: 40px;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  font-weight: 500;
  color: #0ff407;
}

.invisible {
  height: 0;
}

.filter-red {
  transition: filter 0.0001s ease-in 0.7s;
  /* filter: brightness(0) saturate(100%) invert(24%) sepia(90%) saturate(6957%) hue-rotate(356deg) brightness(95%) contrast(105%); */
filter: hue-rotate(235deg) saturate(350%) brightness(90%);
}

.filter-green {
  transition: filter 0.0001s ease-in 0.7s;
  /* filter: brightness(0) saturate(100%) invert(64%) sepia(27%) saturate(7088%) hue-rotate(78deg) brightness(93%) contrast(106%) */
filter: hue-rotate(30deg) saturate(550%) brightness(60%);
}

.country-info {
  height: 280px;
}

.game-info {
  display: grid;
  justify-items: start;
}

.score-section {
  align-self: flex-end;
  padding-bottom: 80px;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.score-numbers{
  display: grid;
  grid-template-columns: repeat(2, 80px);
  gap: 60px;
  justify-content: center;
  font-size: 60px;
  line-height: 80px;
}

.score-title {
  margin-bottom: 25px;
  padding: 0px 5px;
  background-color: #fff;
  border-radius: 10px;
  border: black 2px solid;
}

/* .win::before {
  content: '';
  display: block;
  position: absolute;
  top: -30px;
  left: 35px;
  height: 40px;
  width: 10px;
  background-color: #fff;
  border: black solid 1px;
  border-radius: 5px;
} */

.win {
  /* position: relative; */
  background-color: #11be07;
  border-radius: 15%;
  border: black 2px solid;
}

.lose {
  background-color: #F70707;
  border-radius: 15%;
  border: black 2px solid;
}

@media only screen and (max-width: 600px) {
  .container {
    display: block;
  }
}
